
Submit a new job:

<%= form_tag({:action => :submit_job},{:method => "post"}) %>

Job name:
<input name="job_name"><br/>

Number of machines to launch: <input name="num_instances"><br/>

Processor type:
<select id="processor_type" name="processor_type">
	<option value="m1.large">m1.large (2 cores) - latest price is $ <%=@small_price%></option>
	<option value="c1.xlarge">c1.xlarge (8 cores) - latest price is $ <%=@large_price%></option>
</select><br/>

Spot price:
<span id="small_recommended_price" class="hide_me"><%=@small_recommended%></span>
<span id="large_recommended_price" class="hide_me"><%=@large_recommended%></span>

<input id="price" name="price"><br/>

Your email address:
<input name="email"><br/>
Confirm email:
<input name="email_confirm"><br/>

Organism:
<select name="organism">
	<option value="hal">Halobacterium sp. NRC-1</option>
	<option value="hpy">Helicobacter pylori</option>
	<option value="hsa">Homo sapiens</option>
	<option value="sce">Saccharomyces cerevisiae</option>
	
</select>
<br/>
(coming soon...list of all organisms that cmonkey can run against)<br/>

Project to bill this to: 
<select name="project">
	<option value="proj1">Project 1</option>
	<option value="proj2">Project 2</option>
	<option value="proj3">Project 3</option>
</select>
<br/>
Number of clusters (k.clust): 
<input name="k" value="200"><br/>

Ratios data:<br/>
<textarea name="ratios" rows="10" cols="50"></textarea>
<br/>
<input type="checkbox" name="just_for_fun" value="true" checked/> Is this just a test run? <br/>


<br/><input type="submit" value="Submit Job">
</form>