
Submit a new job:

<%= form_tag({:action => :submit_job}, {:method => "post", :multipart => true}) %>


<table border="0">
<tr>
<td>
Job name:
</td><td>
<input name="job_name">
</td>
</tr>
<tr>
<td>
Number of machines to launch:
</td>
<td>
<input name="num_instances">
</td>
</tr>
<tr>
<td>
Processor type:
</td><td>
<select id="processor_type" name="processor_type">
	<option value="m1.large">m1.large (2 cores) - latest price is $ <%=@small_price%></option>
	<option value="c1.xlarge">c1.xlarge (8 cores) - latest price is $ <%=@large_price%></option>
</select>
</td>
</tr>
<tr>
<td>
Spot price:
</td>
<td>
<span id="small_recommended_price" class="hide_me"><%=@small_recommended%></span>
<span id="large_recommended_price" class="hide_me"><%=@large_recommended%></span>

<input id="price" name="price">
</td>
</tr>

<tr>
<td>
Organism:
</td>
<td>
<select name="organism">
	<option value="hal">Halobacterium sp. NRC-1</option>
	<option value="hpy">Helicobacter pylori</option>
	<option value="hsa">Homo sapiens</option>
	<option value="sce">Saccharomyces cerevisiae</option>
	
</select>
</td>
</tr>
<tr>
<td>
Project to bill this to: 
</td>
<td>
<select name="project">
	<option value="proj1">Project 1</option>
	<option value="proj2">Project 2</option>
	<option value="proj3">Project 3</option>
</select>
</td>
</tr>
<tr>
<td>
Number of clusters (k.clust): 
</td>
<td>
<input name="k" value="200">
</td>
</tr>
<tr>
<td>
Number of iterations (n.iter):
</td>
<td>
<input name="n_iter" value="3000">
</td>
</tr>
<tr>
<td>
Ratios file:
</td>
<td>
<%= file_field_tag 'uploaded_file' %>
</td>
</tr>
<tr>
<td>
Is this just a test run? 
</td>
<td>
<input type="checkbox" name="just_for_fun" value="true" checked/> 
</td>
</tr>
</table>
<br/><input type="submit" value="Submit Job">

</form>