
<b>Submit a new job:</b>

<%= form_tag({:action => :submit_job}, {:method => "post", :multipart => true, :id => "submit_job"}) %>


<table border="0">
<tr>
<td>
Job name:
</td><td>
<input id="job_name" name="job_name">
</td>
</tr>
<tr>
<td>
Number of machines to launch:
</td>
<td>
<input name="num_instances" id="num_instances" value="1">
</td>
</tr>
<tr>
<td>
Processor type:
</td><td>
<select id="processor_type" name="processor_type">
  <option value="c1.xlarge">c1.xlarge (8 cores) - latest price is $ <%=@large_price%></option>
	<option value="m1.large">m1.large (2 cores) - latest price is $ <%=@small_price%></option>
</select>
</td>
</tr>
<tr>
<td>
Spot price:
</td>
<td>
<span id="small_recommended_price" class="hide_me"><%=@small_recommended%></span>
<span id="large_recommended_price" class="hide_me"><%=@large_recommended%></span>

<input id="price" name="price">
</td>
</tr>

<tr>
<td>
Organism:
</td>
<td>
<select name="organism" id="organism">
	<option value="hal">Halobacterium sp. NRC-1</option>
	<option value="hpy">Helicobacter pylori</option>
	<option value="hsa">Homo sapiens</option>
	<option value="sce">Saccharomyces cerevisiae</option>
    <option value="amr">Acaryochloris marina</option>
	<option value="app">Accumulibacter phosphatis</option>
	<option value="apt">Acetobacter pasteurianus</option>
	<option value="acl">Acholeplasma laidlawii</option>
	<option value="afn">Acidaminococcus fermentans</option>
	<option value="afo">Acidimicrobium ferrooxidans DSM 10331</option>
	<option value="acr">Acidiphilium cryptum JF-5</option>
	<option value="afr">Acidithiobacillus ferrooxidans ATCC 23270</option>
	<option value="afe">Acidithiobacillus ferrooxidans ATCC 53993</option>
	<option value="aba">Acidobacteria bacterium</option>
	<option value="aca">Acidobacterium capsulatum</option>
	<option value="ace">Acidothermus cellulolyticus</option>
	<option value="aav">Acidovorax avenae</option>
	<option value="dia">Acidovorax ebreus</option>
	<option value="ajs">Acidovorax sp. JS42</option>
	<option value="abi">Aciduliprofundum boonei</option>
	<option value="abn">Acinetobacter baumannii AB0057</option>
	<option value="abb">Acinetobacter baumannii AB307-0294</option>
	<option value="abc">Acinetobacter baumannii ACICU</option>
	<option value="acb">Acinetobacter baumannii ATCC 17978</option>
	<option value="aby">Acinetobacter baumannii AYE</option>
	<option value="abm">Acinetobacter baumannii SDF</option>
	<option value="aci">Acinetobacter sp. ADP1</option>
	<option value="eadl">Actinidia deliciosa</option>
	<option value="apa">Actinobacillus pleuropneumoniae AP76</option>
	<option value="apj">Actinobacillus pleuropneumoniae JL03</option>
	<option value="apl">Actinobacillus pleuropneumoniae L20</option>
	<option value="asu">Actinobacillus succinogenes</option>
	<option value="ami">Actinosynnema mirum</option>
	<option value="dapi">Acyrthosiphon pisum</option>
	<option value="api">Acyrthosiphon pisum</option>
	<option value="eacv">Adiantum capillus-veneris</option>
	<option value="aag">Aedes aegypti</option>
	<option value="aha">Aeromonas hydrophila</option>
	<option value="asa">Aeromonas salmonicida</option>
	<option value="ape">Aeropyrum pernix</option>
	<option value="aat">Aggregatibacter actinomycetemcomitans</option>
	<option value="aap">Aggregatibacter aphrophilus</option>
	<option value="ara">Agrobacterium radiobacter K84</option>
	<option value="atc">Agrobacterium tumefaciens C58</option>
	<option value="atu">Agrobacterium tumefaciens C58</option>
	<option value="avi">Agrobacterium vitis S4</option>
	<option value="amu">Akkermansia muciniphila</option>
	<option value="abo">Alcanivorax borkumensis</option>
	<option value="aac">Alicyclobacillus acidocaldarius</option>
	<option value="vsa">Aliivibrio salmonicida LFI1238</option>
	<option value="aeh">Alkalilimnicola ehrlichei</option>
	<option value="amt">Alkaliphilus metalliredigens</option>
	<option value="aoe">Alkaliphilus oremlandii</option>
	<option value="alv">Allochromatium vinosum</option>
	<option value="amc">Alteromonas macleodii</option>
	<option value="eatr">Amborella trichopoda</option>
	<option value="eamx">Ambystoma mexicanum</option>
	<option value="adg">Ammonifex degensii</option>
	<option value="ana">Anabaena sp. PCC7120</option>
	<option value="ava">Anabaena variabilis</option>
	<option value="ate">Anaerocellum thermophilum</option>
	<option value="apr">Anaerococcus prevotii</option>
	<option value="acp">Anaeromyxobacter dehalogenans 2CP-1</option>
	<option value="ade">Anaeromyxobacter dehalogenans 2CP-C</option>
	<option value="afw">Anaeromyxobacter sp. Fw109-5</option>
	<option value="ank">Anaeromyxobacter sp. K</option>
	<option value="acn">Anaplasma centrale</option>
	<option value="amf">Anaplasma marginale Florida</option>
	<option value="ama">Anaplasma marginale St. Maries</option>
	<option value="aph">Anaplasma phagocytophilum</option>
	<option value="aga">Anopheles gambiae</option>
	<option value="afl">Anoxybacillus flavithermus</option>
	<option value="eamj">Antirrhinum majus</option>
	<option value="ame">Apis mellifera</option>
	<option value="aae">Aquifex aeolicus</option>
	<option value="eafp">Aquilegia formosa x Aquilegia pubescens</option>
	<option value="ath">Arabidopsis thaliana</option>
	<option value="eath">Arabidopsis thaliana</option>
	<option value="eahy">Arachis hypogaea</option>
	<option value="afu">Archaeoglobus fulgidus</option>
	<option value="apo">Archaeoglobus profundus</option>
	<option value="abu">Arcobacter butzleri</option>
	<option value="eba">Aromatoleum aromaticum EbN1</option>
	<option value="eaan">Artemisia annua</option>
	<option value="aau">Arthrobacter aurescens</option>
	<option value="ach">Arthrobacter chlorophenolicus</option>
	<option value="art">Arthrobacter sp. FB24</option>
	<option value="ago">Ashbya gossypii</option>
	<option value="act">Aspergillus clavatus</option>
	<option value="afv">Aspergillus flavus</option>
	<option value="afm">Aspergillus fumigatus</option>
	<option value="ani">Aspergillus nidulans</option>
	<option value="ang">Aspergillus niger</option>
	<option value="aor">Aspergillus oryzae</option>
	<option value="apv">Atopobium parvulum</option>
	<option value="azo">Azoarcus sp. BH72</option>
	<option value="azc">Azorhizobium caulinodans</option>
	<option value="azl">Azospirillum sp. B510</option>
	<option value="avn">Azotobacter vinelandii</option>
	<option value="bbo">Babesia bovis</option>
	<option value="bay">Bacillus amyloliquefaciens</option>
	<option value="bai">Bacillus anthracis A0248</option>
	<option value="baa">Bacillus anthracis A2012</option>
	<option value="ban">Bacillus anthracis Ames</option>
	<option value="bar">Bacillus anthracis Ames 0581</option>
	<option value="bah">Bacillus anthracis CDC 684</option>
	<option value="bat">Bacillus anthracis Sterne</option>
	<option value="bcx">Bacillus cereus 03BB102</option>
	<option value="bcr">Bacillus cereus AH187</option>
	<option value="bcu">Bacillus cereus AH820</option>
	<option value="bca">Bacillus cereus ATCC 10987</option>
	<option value="bce">Bacillus cereus ATCC 14579</option>
	<option value="bcb">Bacillus cereus B4264</option>
	<option value="bcg">Bacillus cereus G9842</option>
	<option value="bcq">Bacillus cereus Q1</option>
	<option value="bcz">Bacillus cereus ZK</option>
	<option value="bcl">Bacillus clausii</option>
	<option value="bcy">Bacillus cytotoxis NVH 391-98</option>
	<option value="bha">Bacillus halodurans</option>
	<option value="bli">Bacillus licheniformis ATCC 14580</option>
	<option value="bld">Bacillus licheniformis DSM13</option>
	<option value="bpf">Bacillus pseudofirmus</option>
	<option value="bpu">Bacillus pumilus</option>
	<option value="bsu">Bacillus subtilis</option>
	<option value="btk">Bacillus thuringiensis 97-27</option>
	<option value="btl">Bacillus thuringiensis Al Hakam</option>
	<option value="bwe">Bacillus weihenstephanensis</option>
	<option value="bfs">Bacteroides fragilis NCTC9343</option>
	<option value="bfr">Bacteroides fragilis YCH46</option>
	<option value="bth">Bacteroides thetaiotaomicron</option>
	<option value="bvu">Bacteroides vulgatus</option>
	<option value="bbk">Bartonella bacilliformis</option>
	<option value="bgr">Bartonella grahamii</option>
	<option value="bhe">Bartonella henselae</option>
	<option value="bqu">Bartonella quintana</option>
	<option value="btr">Bartonella tribocorum</option>
	<option value="bci">Baumannia cicadellinicola</option>
	<option value="bba">Bdellovibrio bacteriovorus</option>
	<option value="bid">Beijerinckia indica</option>
	<option value="ebvl">Beta vulgaris</option>
	<option value="bcv">Beutenbergia cavernae</option>
	<option value="bad">Bifidobacterium adolescentis</option>
	<option value="bla">Bifidobacterium animalis subsp. lactis AD011</option>
	<option value="blc">Bifidobacterium animalis subsp. lactis Bl-04</option>
	<option value="blt">Bifidobacterium animalis subsp. lactis DSM 10140</option>
	<option value="bde">Bifidobacterium dentium</option>
	<option value="blj">Bifidobacterium longum DJO10A</option>
	<option value="blo">Bifidobacterium longum NCC2705</option>
	<option value="bln">Bifidobacterium longum subsp. infantis ATCC 15697</option>
	<option value="bbl">Blattabacterium sp.</option>
	<option value="bpi">Blattabacterium sp.</option>
	<option value="dbmo">Bombyx mori</option>
	<option value="bav">Bordetella avium</option>
	<option value="bbr">Bordetella bronchiseptica</option>
	<option value="bpa">Bordetella parapertussis</option>
	<option value="bpe">Bordetella pertussis</option>
	<option value="bpt">Bordetella petrii</option>
	<option value="baf">Borrelia afzelii</option>
	<option value="bbu">Borrelia burgdorferi B31</option>
	<option value="bbz">Borrelia burgdorferi ZS7</option>
	<option value="bdu">Borrelia duttonii</option>
	<option value="bga">Borrelia garinii</option>
	<option value="bhr">Borrelia hermsii</option>
	<option value="bre">Borrelia recurrentis</option>
	<option value="btu">Borrelia turicatae</option>
	<option value="bta">Bos taurus</option>
	<option value="bfu">Botryotinia fuckeliana</option>
	<option value="bfa">Brachybacterium faecium</option>
	<option value="bhy">Brachyspira hyodysenteriae</option>
	<option value="bja">Bradyrhizobium japonicum</option>
	<option value="bbt">Bradyrhizobium sp. BTAi1</option>
	<option value="bra">Bradyrhizobium sp. ORS278</option>
	<option value="bfo">Branchiostoma floridae</option>
	<option value="ebna">Brassica napus</option>
	<option value="ebrp">Brassica rapa subsp. pekinensis</option>
	<option value="bbe">Brevibacillus brevis</option>
	<option value="bmb">Brucella abortus 9-941</option>
	<option value="bmc">Brucella abortus S19</option>
	<option value="bcs">Brucella canis</option>
	<option value="bme">Brucella melitensis 16M</option>
	<option value="bmi">Brucella melitensis ATCC 23457</option>
	<option value="bmf">Brucella melitensis biovar Abortus</option>
	<option value="bmr">Brucella microti</option>
	<option value="bov">Brucella ovis</option>
	<option value="bms">Brucella suis 1330</option>
	<option value="bmt">Brucella suis ATCC 23445</option>
	<option value="bmy">Brugia malayi</option>
	<option value="bap">Buchnera aphidicola 5A</option>
	<option value="buc">Buchnera aphidicola APS</option>
	<option value="bab">Buchnera aphidicola Bp</option>
	<option value="bcc">Buchnera aphidicola Cc</option>
	<option value="bas">Buchnera aphidicola Sg</option>
	<option value="bau">Buchnera aphidicola Tuc7</option>
	<option value="bac">Burkholderia ambifaria MC40-6</option>
	<option value="bcn">Burkholderia cenocepacia AU1054</option>
	<option value="bch">Burkholderia cenocepacia HI2424</option>
	<option value="bcj">Burkholderia cenocepacia J2315</option>
	<option value="bcm">Burkholderia cenocepacia MC0-3</option>
	<option value="bam">Burkholderia cepacia</option>
	<option value="bgl">Burkholderia glumae</option>
	<option value="bma">Burkholderia mallei ATCC 23344</option>
	<option value="bml">Burkholderia mallei NCTC 10229</option>
	<option value="bmn">Burkholderia mallei NCTC 10247</option>
	<option value="bmv">Burkholderia mallei SAVP1</option>
	<option value="bmu">Burkholderia multivorans ATCC 17616</option>
	<option value="bmj">Burkholderia multivorans ATCC 17616</option>
	<option value="bph">Burkholderia phymatum</option>
	<option value="bpy">Burkholderia phytofirmans</option>
	<option value="bpl">Burkholderia pseudomallei 1106a</option>
	<option value="bpm">Burkholderia pseudomallei 1710b</option>
	<option value="bpd">Burkholderia pseudomallei 668</option>
	<option value="bps">Burkholderia pseudomallei K96243</option>
	<option value="bpr">Burkholderia pseudomallei MSHR346</option>
	<option value="bur">Burkholderia sp. 383</option>
	<option value="bte">Burkholderia thailandensis</option>
	<option value="bvi">Burkholderia vietnamiensis</option>
	<option value="bxe">Burkholderia xenovorans</option>
	<option value="cbr">Caenorhabditis briggsae</option>
	<option value="cel">Caenorhabditis elegans</option>
	<option value="csc">Caldicellulosiruptor saccharolyticus</option>
	<option value="cma">Caldivirga maquilingensis</option>
	<option value="cco">Campylobacter concisus 13826</option>
	<option value="ccv">Campylobacter curvus</option>
	<option value="cff">Campylobacter fetus</option>
	<option value="cha">Campylobacter hominis ATCC BAA-381</option>
	<option value="cjj">Campylobacter jejuni 81-176</option>
	<option value="cju">Campylobacter jejuni 81116</option>
	<option value="cje">Campylobacter jejuni NCTC11168</option>
	<option value="cjr">Campylobacter jejuni RM1221</option>
	<option value="cjd">Campylobacter jejuni subsp. doylei 269.97</option>
	<option value="cla">Campylobacter lari</option>
	<option value="cal">Candida albicans</option>
	<option value="cdu">Candida dubliniensis</option>
	<option value="cgr">Candida glabrata</option>
	<option value="ctp">Candida tropicalis</option>
	<option value="aas">Candidatus Amoebophilus asiaticus</option>
	<option value="aps">Candidatus Azobacteroides pseudotrichonymphae</option>
	<option value="bfl">Candidatus Blochmannia floridanus</option>
	<option value="bpn">Candidatus Blochmannia pennsylvanicus</option>
	<option value="crp">Candidatus Carsonella ruddii</option>
	<option value="dau">Candidatus Desulforudis audaxviator</option>
	<option value="hde">Candidatus Hamiltonella defensa</option>
	<option value="hci">Candidatus Hodgkinia cicadicola</option>
	<option value="kcr">Candidatus Korarchaeum cryptofilum</option>
	<option value="las">Candidatus Liberibacter asiaticus</option>
	<option value="mbn">Candidatus Methanoregula boonei</option>
	<option value="mpl">Candidatus Methanosphaerula palustris</option>
	<option value="pub">Candidatus Pelagibacter ubique</option>
	<option value="pal">Candidatus Phytoplasma australiense</option>
	<option value="pml">Candidatus Phytoplasma mali</option>
	<option value="pcu">Candidatus Protochlamydia amoebophila</option>
	<option value="rma">Candidatus Ruthia magnifica</option>
	<option value="smg">Candidatus Sulcia muelleri GWSS</option>
	<option value="sms">Candidatus Sulcia muelleri SMDSEM</option>
	<option value="vok">Candidatus Vesicomyosocius okutanii</option>
	<option value="cfa">Canis familiaris</option>
	<option value="coc">Capnocytophaga ochracea</option>
	<option value="ecan">Capsicum annuum</option>
	<option value="chy">Carboxydothermus hydrogenoformans</option>
	<option value="ecpp">Carica papaya</option>
	<option value="cai">Catenulispora acidiphila</option>
	<option value="ccr">Caulobacter crescentus CB15</option>
	<option value="ccs">Caulobacter crescentus NA1000</option>
	<option value="cak">Caulobacter sp. K31</option>
	<option value="cja">Cellvibrio japonicus</option>
	<option value="cpi">Chitinophaga pinensis</option>
	<option value="cmu">Chlamydia muridarum</option>
	<option value="ctb">Chlamydia trachomatis 434/Bu</option>
	<option value="cta">Chlamydia trachomatis A/HAR-13</option>
	<option value="ctj">Chlamydia trachomatis B/Jali20/OT</option>
	<option value="ctr">Chlamydia trachomatis D/UW-3/CX</option>
	<option value="ctl">Chlamydia trachomatis L2b/UCH-1/proctitis</option>
	<option value="cre">Chlamydomonas reinhardtii</option>
	<option value="ecre">Chlamydomonas reinhardtii</option>
	<option value="cab">Chlamydophila abortus</option>
	<option value="cca">Chlamydophila caviae</option>
	<option value="cfe">Chlamydophila felis</option>
	<option value="cpa">Chlamydophila pneumoniae AR39</option>
	<option value="cpn">Chlamydophila pneumoniae CWL029</option>
	<option value="cpj">Chlamydophila pneumoniae J138</option>
	<option value="cpt">Chlamydophila pneumoniae TW183</option>
	<option value="cpc">Chlorobaculum parvum NCIB 8327</option>
	<option value="cte">Chlorobaculum tepidum</option>
	<option value="cch">Chlorobium chlorochromatii</option>
	<option value="cli">Chlorobium limicola</option>
	<option value="cpb">Chlorobium phaeobacteroides BS1</option>
	<option value="cph">Chlorobium phaeobacteroides DSM 266</option>
	<option value="pvi">Chlorobium vibrioformis</option>
	<option value="cag">Chloroflexus aggregans</option>
	<option value="cau">Chloroflexus aurantiacus</option>
	<option value="chl">Chloroflexus sp. Y-400-fl</option>
	<option value="cts">Chloroherpeton thalassium</option>
	<option value="cvi">Chromobacterium violaceum</option>
	<option value="csa">Chromohalobacter salexigens</option>
	<option value="ecit">Cichorium intybus</option>
	<option value="cin">Ciona intestinalis</option>
	<option value="ecsv">Ciona savignyi</option>
	<option value="cko">Citrobacter koseri ATCC BAA-895</option>
	<option value="cro">Citrobacter rodentium</option>
	<option value="eccl">Citrus clementina</option>
	<option value="ecrt">Citrus reticulata</option>
	<option value="ecsi">Citrus sinensis</option>
	<option value="cmi">Clavibacter michiganensis subsp. michiganensis</option>
	<option value="cms">Clavibacter michiganensis subsp. sepedonicus</option>
	<option value="clu">Clavispora lusitaniae</option>
	<option value="clo">Clostridiales genomosp. BVAB3</option>
	<option value="cac">Clostridium acetobutylicum</option>
	<option value="cbe">Clostridium beijerinckii</option>
	<option value="cba">Clostridium botulinum A ATCC 19397</option>
	<option value="cbo">Clostridium botulinum A ATCC 3502</option>
	<option value="cbh">Clostridium botulinum A Hall</option>
	<option value="cby">Clostridium botulinum A2</option>
	<option value="cbl">Clostridium botulinum A3 Loch Maree</option>
	<option value="cbk">Clostridium botulinum B Eklund 17B</option>
	<option value="cbb">Clostridium botulinum B1 Okra</option>
	<option value="cbi">Clostridium botulinum Ba4</option>
	<option value="cbt">Clostridium botulinum E3</option>
	<option value="cbf">Clostridium botulinum F Langeland</option>
	<option value="cce">Clostridium cellulolyticum</option>
	<option value="cdf">Clostridium difficile 630</option>
	<option value="cdc">Clostridium difficile CD196</option>
	<option value="cdl">Clostridium difficile R20291</option>
	<option value="ckl">Clostridium kluyveri DSM 555</option>
	<option value="ckr">Clostridium kluyveri NBRC 12016</option>
	<option value="cno">Clostridium novyi</option>
	<option value="cpe">Clostridium perfringens 13</option>
	<option value="cpf">Clostridium perfringens ATCC 13124</option>
	<option value="cpr">Clostridium perfringens SM101</option>
	<option value="cpy">Clostridium phytofermentans</option>
	<option value="ctc">Clostridium tetani E88</option>
	<option value="cth">Clostridium thermocellum</option>
	<option value="cim">Coccidioides immitis</option>
	<option value="eccn">Coffea canephora</option>
	<option value="cps">Colwellia psychrerythraea</option>
	<option value="ctt">Comamonas testosteroni</option>
	<option value="cwo">Conexibacter woesei</option>
	<option value="cpo">Coprothermobacter proteolyticus</option>
	<option value="car">Corynebacterium aurimucosum</option>
	<option value="cdi">Corynebacterium diphtheriae</option>
	<option value="cef">Corynebacterium efficiens</option>
	<option value="cgb">Corynebacterium glutamicum ATCC 13032</option>
	<option value="cgl">Corynebacterium glutamicum ATCC 13032</option>
	<option value="cgt">Corynebacterium glutamicum R</option>
	<option value="cjk">Corynebacterium jeikeium</option>
	<option value="ckp">Corynebacterium kroppenstedtii</option>
	<option value="cur">Corynebacterium urealyticum</option>
	<option value="cbg">Coxiella burnetii CbuG_Q212</option>
	<option value="cbc">Coxiella burnetii CbuK_Q154</option>
	<option value="cbd">Coxiella burnetii Dugway 5J108-111</option>
	<option value="cbs">Coxiella burnetii RSA 331</option>
	<option value="cbu">Coxiella burnetii RSA 493</option>
	<option value="ctu">Cronobacter turicensis</option>
	<option value="ccu">Cryptobacterium curtum</option>
	<option value="cnb">Cryptococcus neoformans B-3501A</option>
	<option value="cne">Cryptococcus neoformans JEC21</option>
	<option value="ecjp">Cryptomeria japonica</option>
	<option value="cho">Cryptosporidium hominis</option>
	<option value="cpv">Cryptosporidium parvum</option>
	<option value="cqu">Culex quinquefasciatus</option>
	<option value="cti">Cupriavidus taiwanensis</option>
	<option value="cme">Cyanidioschyzon merolae</option>
	<option value="cya">Cyanobacteria Yellowstone A-Prime</option>
	<option value="cyb">Cyanobacteria Yellowstone B-Prime</option>
	<option value="cyu">Cyanobacterium UCYN-A</option>
	<option value="ecpx">Cyanophora paradoxa</option>
	<option value="cyt">Cyanothece sp. ATCC 51142</option>
	<option value="cyc">Cyanothece sp. PCC 7424</option>
	<option value="cyn">Cyanothece sp. PCC 7425</option>
	<option value="cyp">Cyanothece sp. PCC 8801</option>
	<option value="cyh">Cyanothece sp. PCC 8802</option>
	<option value="ecpg">Cynops pyrrhogaster</option>
	<option value="chu">Cytophaga hutchinsonii</option>
	<option value="dre">Danio rerio</option>
	<option value="dha">Debaryomyces hansenii</option>
	<option value="dar">Dechloromonas aromatica</option>
	<option value="ddf">Deferribacter desulfuricans SSM1</option>
	<option value="det">Dehalococcoides ethenogenes</option>
	<option value="deb">Dehalococcoides sp. BAV1</option>
	<option value="deh">Dehalococcoides sp. CBDB1</option>
	<option value="deg">Dehalococcoides sp. GT</option>
	<option value="dev">Dehalococcoides sp. VS</option>
	<option value="ddr">Deinococcus deserti</option>
	<option value="dge">Deinococcus geothermalis</option>
	<option value="dra">Deinococcus radiodurans</option>
	<option value="dac">Delftia acidovorans</option>
	<option value="dap">Denitrovibrio acetiphilus</option>
	<option value="dal">Desulfatibacillum alkenivorans</option>
	<option value="dhd">Desulfitobacterium hafniense DCB-2</option>
	<option value="dsy">Desulfitobacterium hafniense Y51</option>
	<option value="dat">Desulfobacterium autotrophicum</option>
	<option value="dol">Desulfococcus oleovorans</option>
	<option value="drt">Desulfohalobium retbaense</option>
	<option value="dba">Desulfomicrobium baculatum</option>
	<option value="dps">Desulfotalea psychrophila</option>
	<option value="dae">Desulfotomaculum acetoxidans</option>
	<option value="drm">Desulfotomaculum reducens</option>
	<option value="dds">Desulfovibrio desulfuricans ATCC 27774</option>
	<option value="dde">Desulfovibrio desulfuricans G20</option>
	<option value="dma">Desulfovibrio magneticus</option>
	<option value="dsa">Desulfovibrio salexigens</option>
	<option value="dvl">Desulfovibrio vulgaris DP4</option>
	<option value="dvu">Desulfovibrio vulgaris Hildenborough</option>
	<option value="dvm">Desulfovibrio vulgaris Miyazaki F</option>
	<option value="dka">Desulfurococcus kamchatkensis</option>
	<option value="dno">Dichelobacter nodosus</option>
	<option value="ddc">Dickeya dadantii Ech586</option>
	<option value="dda">Dickeya dadantii Ech703</option>
	<option value="dze">Dickeya zeae</option>
	<option value="dth">Dictyoglomus thermophilum</option>
	<option value="dtu">Dictyoglomus turgidum</option>
	<option value="ddi">Dictyostelium discoideum</option>
	<option value="dsh">Dinoroseobacter shibae</option>
	<option value="dan">Drosophila ananassae</option>
	<option value="der">Drosophila erecta</option>
	<option value="dgr">Drosophila grimshawi</option>
	<option value="dme">Drosophila melanogaster</option>
	<option value="dmo">Drosophila mojavensis</option>
	<option value="dpe">Drosophila persimilis</option>
	<option value="dpo">Drosophila pseudoobscura pseudoobscura</option>
	<option value="dse">Drosophila sechellia</option>
	<option value="dsi">Drosophila simulans</option>
	<option value="dvi">Drosophila virilis</option>
	<option value="dwi">Drosophila willistoni</option>
	<option value="dya">Drosophila yakuba</option>
	<option value="dfe">Dyadobacter fermentans</option>
	<option value="eic">Edwardsiella ictaluri</option>
	<option value="etr">Edwardsiella tarda</option>
	<option value="ele">Eggerthella lenta</option>
	<option value="ecn">Ehrlichia canis</option>
	<option value="ech">Ehrlichia chaffeensis</option>
	<option value="erg">Ehrlichia ruminantium Gardel</option>
	<option value="erw">Ehrlichia ruminantium Welgevonden</option>
	<option value="eru">Ehrlichia ruminantium Welgevonden</option>
	<option value="eegu">Elaeis guineensis</option>
	<option value="emi">Elusimicrobium minutum</option>
	<option value="ecu">Encephalitozoon cuniculi</option>
	<option value="edi">Entamoeba dispar</option>
	<option value="ehi">Entamoeba histolytica</option>
	<option value="esa">Enterobacter sakazakii</option>
	<option value="ent">Enterobacter sp. 638</option>
	<option value="efa">Enterococcus faecalis</option>
	<option value="ecb">Equus caballus</option>
	<option value="eam">Erwinia amylovora</option>
	<option value="eay">Erwinia amylovora ATCC 49946</option>
	<option value="eca">Erwinia carotovora</option>
	<option value="epy">Erwinia pyrifoliae</option>
	<option value="eta">Erwinia tasmaniensis</option>
	<option value="eli">Erythrobacter litoralis</option>
	<option value="ecp">Escherichia coli 536</option>
	<option value="eck">Escherichia coli 55989</option>
	<option value="ecl">Escherichia coli ATCC 8739</option>
	<option value="ebr">Escherichia coli B REL606</option>
	<option value="ebl">Escherichia coli BL21</option>
	<option value="ebd">Escherichia coli BL21(DE3)</option>
	<option value="ecq">Escherichia coli ED1a</option>
	<option value="ecr">Escherichia coli IAI1</option>
	<option value="ecd">Escherichia coli K-12 DH10B</option>
	<option value="ebw">Escherichia coli K-12 MC4100(MuLac) BW2952</option>
	<option value="eco">Escherichia coli K-12 MG1655</option>
	<option value="ecj">Escherichia coli K-12 W3110</option>
	<option value="elf">Escherichia coli LF82</option>
	<option value="ecv">Escherichia coli O1</option>
	<option value="eoh">Escherichia coli O103:H2 12009</option>
	<option value="eoi">Escherichia coli O111:H- 11128</option>
	<option value="ecg">Escherichia coli O127:H6</option>
	<option value="ecw">Escherichia coli O139:H28 E24377A</option>
	<option value="ecy">Escherichia coli O152:H28 SE11</option>
	<option value="ecf">Escherichia coli O157:H7 EC4115</option>
	<option value="ece">Escherichia coli O157:H7 EDL933</option>
	<option value="ecs">Escherichia coli O157:H7 Sakai</option>
	<option value="etw">Escherichia coli O157:H7 TW14359</option>
	<option value="eum">Escherichia coli O17:K52:H18 UMN026</option>
	<option value="eoj">Escherichia coli O26:H11 11368</option>
	<option value="ecz">Escherichia coli O45:K1 S88</option>
	<option value="eok">Escherichia coli O55:H7 CB9615</option>
	<option value="ecc">Escherichia coli O6:H1 CFT073</option>
	<option value="ect">Escherichia coli O7:K1 IAI39</option>
	<option value="ecx">Escherichia coli O9 HS</option>
	<option value="ecm">Escherichia coli SECEC</option>
	<option value="eci">Escherichia coli UTI89</option>
	<option value="efe">Escherichia fergusonii</option>
	<option value="eel">Eubacterium eligens</option>
	<option value="ere">Eubacterium rectale</option>
	<option value="eees">Euphorbia esula</option>
	<option value="esi">Exiguobacterium sibiricum</option>
	<option value="eat">Exiguobacterium sp. AT1b</option>
	<option value="fpl">Ferroglobus placidus</option>
	<option value="fno">Fervidobacterium nodosum</option>
	<option value="efar">Festuca arundinacea</option>
	<option value="fsu">Fibrobacter succinogenes</option>
	<option value="fma">Finegoldia magna</option>
	<option value="fba">Flavobacteriaceae bacterium</option>
	<option value="fjo">Flavobacterium johnsoniae</option>
	<option value="fps">Flavobacterium psychrophilum</option>
	<option value="ftn">Francisella novicida U112</option>
	<option value="fph">Francisella philomiragia</option>
	<option value="fta">Francisella tularensis subsp. holarctica FTNF002-00</option>
	<option value="ftl">Francisella tularensis subsp. holarctica LVS</option>
	<option value="fth">Francisella tularensis subsp. holarctica OSU18</option>
	<option value="ftm">Francisella tularensis subsp. mediasiatica FSC147</option>
	<option value="ftf">Francisella tularensis subsp. tularensis FSC 198</option>
	<option value="ftu">Francisella tularensis subsp. tularensis SCHU S4</option>
	<option value="ftw">Francisella tularensis subsp. tularensis WY96-3418</option>
	<option value="fal">Frankia alni</option>
	<option value="fra">Frankia sp. CcI3</option>
	<option value="fre">Frankia sp. EAN1pec</option>
	<option value="dfru">Fugu rubripes</option>
	<option value="fgr">Fusarium graminearum</option>
	<option value="fnu">Fusobacterium nucleatum</option>
	<option value="gga">Gallus gallus</option>
	<option value="gva">Gardnerella vaginalis</option>
	<option value="gau">Gemmatimonas aurantiaca</option>
	<option value="gka">Geobacillus kaustophilus</option>
	<option value="gwc">Geobacillus sp. WCH70</option>
	<option value="gym">Geobacillus sp. Y412MC10</option>
	<option value="gyc">Geobacillus sp. Y412MC61</option>
	<option value="gtn">Geobacillus thermodenitrificans</option>
	<option value="gbm">Geobacter bemidjiensis</option>
	<option value="glo">Geobacter lovleyi</option>
	<option value="gme">Geobacter metallireducens</option>
	<option value="geo">Geobacter sp. FRC-32</option>
	<option value="gem">Geobacter sp. M21</option>
	<option value="gsu">Geobacter sulfurreducens</option>
	<option value="gur">Geobacter uraniumreducens</option>
	<option value="gob">Geodermatophilus obscurus</option>
	<option value="gla">Giardia lamblia</option>
	<option value="gvi">Gloeobacter violaceus</option>
	<option value="gdj">Gluconacetobacter diazotrophicus PAl 5</option>
	<option value="gdi">Gluconacetobacter diazotrophicus PAl 5</option>
	<option value="gox">Gluconobacter oxydans</option>
	<option value="egma">Glycine max</option>
	<option value="gbr">Gordonia bronchialis</option>
	<option value="egar">Gossypium arboreum</option>
	<option value="eghi">Gossypium hirsutum</option>
	<option value="egra">Gossypium raimondii</option>
	<option value="gfo">Gramella forsetii</option>
	<option value="gbe">Granulobacter bethesdensis</option>
	<option value="hdu">Haemophilus ducreyi</option>
	<option value="hit">Haemophilus influenzae 86-028NP</option>
	<option value="hip">Haemophilus influenzae PittEE</option>
	<option value="hiq">Haemophilus influenzae PittGG</option>
	<option value="hin">Haemophilus influenzae Rd KW20</option>
	<option value="hap">Haemophilus parasuis</option>
	<option value="hso">Haemophilus somnus 129PT</option>
	<option value="hsm">Haemophilus somnus 2336</option>
	<option value="hch">Hahella chejuensis</option>
	<option value="hoh">Haliangium ochraceum</option>
	<option value="hma">Haloarcula marismortui</option>
	<option value="hsl">Halobacterium salinarum R1</option>
	<option value="hal">Halobacterium sp. NRC-1</option>
	<option value="hvo">Haloferax volcanii</option>
	<option value="hmu">Halomicrobium mukohataei</option>
	<option value="hwa">Haloquadratum walsbyi</option>
	<option value="hut">Halorhabdus utahensis</option>
	<option value="hha">Halorhodospira halophila</option>
	<option value="hla">Halorubrum lacusprofundi</option>
	<option value="htu">Haloterrigena turkmenica</option>
	<option value="hor">Halothermothrix orenii</option>
	<option value="hna">Halothiobacillus neapolitanus</option>
	<option value="ehan">Helianthus annuus</option>
	<option value="hac">Helicobacter acinonychis</option>
	<option value="hhe">Helicobacter hepaticus</option>
	<option value="hms">Helicobacter mustelae</option>
	<option value="hpy">Helicobacter pylori 26695</option>
	<option value="hpb">Helicobacter pylori B38</option>
	<option value="hpg">Helicobacter pylori G27</option>
	<option value="hpa">Helicobacter pylori HPAG1</option>
	<option value="hpj">Helicobacter pylori J99</option>
	<option value="hpp">Helicobacter pylori P12</option>
	<option value="hps">Helicobacter pylori Shi470</option>
	<option value="hmo">Heliobacterium modesticaldum</option>
	<option value="har">Herminiimonas arsenicoxydans</option>
	<option value="hau">Herpetosiphon aurantiacus</option>
	<option value="hba">Hirschia baltica</option>
	<option value="hsa">Homo sapiens</option>
	<option value="ehvu">Hordeum vulgare</option>
	<option value="hmg">Hydra magnipapillata</option>
	<option value="hth">Hydrogenobacter thermophilus</option>
	<option value="hya">Hydrogenobaculum sp. Y04AAS1</option>
	<option value="hbu">Hyperthermus butylicus</option>
	<option value="hne">Hyphomonas neptunium</option>
	<option value="ilo">Idiomarina loihiensis</option>
	<option value="iho">Ignicoccus hospitalis</option>
	<option value="eini">Ipomoea nil</option>
	<option value="isc">Ixodes scapularis</option>
	<option value="jan">Jannaschia sp. CCS1</option>
	<option value="jde">Jonesia denitrificans</option>
	<option value="kko">Kangiella koreensis</option>
	<option value="kra">Kineococcus radiotolerans</option>
	<option value="kpn">Klebsiella pneumoniae</option>
	<option value="kpe">Klebsiella pneumoniae 342</option>
	<option value="kpu">Klebsiella pneumoniae NTUH-K2044</option>
	<option value="kva">Klebsiella variicola</option>
	<option value="kla">Kluyveromyces lactis</option>
	<option value="dkwa">Kluyveromyces waltii</option>
	<option value="krh">Kocuria rhizophila</option>
	<option value="kol">Kosmotoga olearia</option>
	<option value="kfl">Kribbella flavida</option>
	<option value="kse">Kytococcus sedentarius</option>
	<option value="lbc">Laccaria bicolor</option>
	<option value="lth">Lachancea thermotolerans</option>
	<option value="lac">Lactobacillus acidophilus</option>
	<option value="lbr">Lactobacillus brevis</option>
	<option value="lca">Lactobacillus casei ATCC 334</option>
	<option value="lcb">Lactobacillus casei BL23</option>
	<option value="ldb">Lactobacillus delbrueckii ATCC 11842</option>
	<option value="lbu">Lactobacillus delbrueckii ATCC BAA-365</option>
	<option value="lfe">Lactobacillus fermentum</option>
	<option value="lga">Lactobacillus gasseri</option>
	<option value="lhe">Lactobacillus helveticus</option>
	<option value="ljf">Lactobacillus johnsonii FI9785</option>
	<option value="ljo">Lactobacillus johnsonii NCC 533</option>
	<option value="lpj">Lactobacillus plantarum JDM1</option>
	<option value="lpl">Lactobacillus plantarum WCFS1</option>
	<option value="lre">Lactobacillus reuteri DSM 20016</option>
	<option value="lrf">Lactobacillus reuteri JCM 1112</option>
	<option value="lrh">Lactobacillus rhamnosus</option>
	<option value="lrl">Lactobacillus rhamnosus Lc 705</option>
	<option value="lsa">Lactobacillus sakei</option>
	<option value="lsl">Lactobacillus salivarius</option>
	<option value="llm">Lactococcus lactis subsp. cremoris MG1363</option>
	<option value="llc">Lactococcus lactis subsp. cremoris SK11</option>
	<option value="lla">Lactococcus lactis subsp. lactis IL1403</option>
	<option value="llk">Lactococcus lactis subsp. lactis KF147</option>
	<option value="elpe">Lactuca perennis</option>
	<option value="elsi">Lactuca saligna</option>
	<option value="elst">Lactuca sativa</option>
	<option value="else">Lactuca serriola</option>
	<option value="elvi">Lactuca virosa</option>
	<option value="lhk">Laribacter hongkongensis</option>
	<option value="lip">Lawsonia intracellularis</option>
	<option value="llo">Legionella longbeachae</option>
	<option value="lpc">Legionella pneumophila Corby</option>
	<option value="lpf">Legionella pneumophila Lens</option>
	<option value="lpp">Legionella pneumophila Paris</option>
	<option value="lpn">Legionella pneumophila Philadelphia 1</option>
	<option value="lxx">Leifsonia xyli xyli CTCB07</option>
	<option value="lbz">Leishmania braziliensis</option>
	<option value="lif">Leishmania infantum</option>
	<option value="lma">Leishmania major</option>
	<option value="lbf">Leptospira biflexa serovar Patoc Patoc 1</option>
	<option value="lbi">Leptospira biflexa serovar Patoc Patoc 1</option>
	<option value="lbj">Leptospira borgpetersenii JB197</option>
	<option value="lbl">Leptospira borgpetersenii L550</option>
	<option value="lic">Leptospira interrogans serovar Copenhageni</option>
	<option value="lil">Leptospira interrogans serovar lai</option>
	<option value="lch">Leptothrix cholodnii</option>
	<option value="lba">Leptotrichia buccalis</option>
	<option value="lci">Leuconostoc citreum</option>
	<option value="lme">Leuconostoc mesenteroides</option>
	<option value="lin">Listeria innocua</option>
	<option value="lmn">Listeria monocytogenes 08-5578</option>
	<option value="lmy">Listeria monocytogenes 08-5923</option>
	<option value="lmc">Listeria monocytogenes Clip81459</option>
	<option value="lmo">Listeria monocytogenes EGD-e</option>
	<option value="lmf">Listeria monocytogenes F2365</option>
	<option value="lmh">Listeria monocytogenes HCC23</option>
	<option value="lsg">Listeria seeligeri</option>
	<option value="lwe">Listeria welshimeri SLCC5334</option>
	<option value="lel">Lodderomyces elongisporus</option>
	<option value="elja">Lotus japonicus</option>
	<option value="lsp">Lysinibacillus sphaericus</option>
	<option value="mcc">Macaca mulatta</option>
	<option value="mcl">Macrococcus caseolyticus</option>
	<option value="mgr">Magnaporthe grisea</option>
	<option value="mgm">Magnetococcus sp. MC-1</option>
	<option value="mag">Magnetospirillum magneticum</option>
	<option value="mgl">Malassezia globosa</option>
	<option value="emdm">Malus x domestica</option>
	<option value="emec">Manihot esculenta</option>
	<option value="msu">Mannheimia succiniciproducens</option>
	<option value="empm">Marchantia polymorpha</option>
	<option value="mmr">Maricaulis maris</option>
	<option value="maq">Marinobacter aquaeolei</option>
	<option value="mmw">Marinomonas sp. MWYL1</option>
	<option value="emtr">Medicago truncatula</option>
	<option value="mrb">Meiothermus ruber</option>
	<option value="emcr">Mesembryanthemum crystallinum</option>
	<option value="mfl">Mesoplasma florum</option>
	<option value="mlo">Mesorhizobium loti</option>
	<option value="mes">Mesorhizobium sp. BNC1</option>
	<option value="mse">Metallosphaera sedula</option>
	<option value="mth">Methanobacterium thermoautotrophicum</option>
	<option value="mru">Methanobrevibacter ruminantium</option>
	<option value="msi">Methanobrevibacter smithii ATCC 35061</option>
	<option value="mfe">Methanocaldococcus fervens</option>
	<option value="mfs">Methanocaldococcus sp. FS406-22</option>
	<option value="mvu">Methanocaldococcus vulcanius</option>
	<option value="mpd">Methanocella paludicola</option>
	<option value="mbu">Methanococcoides burtonii</option>
	<option value="mae">Methanococcus aeolicus</option>
	<option value="mja">Methanococcus jannaschii</option>
	<option value="mmq">Methanococcus maripaludis C5</option>
	<option value="mmx">Methanococcus maripaludis C6</option>
	<option value="mmz">Methanococcus maripaludis C7</option>
	<option value="mmp">Methanococcus maripaludis S2</option>
	<option value="mvn">Methanococcus vannielii</option>
	<option value="mla">Methanocorpusculum labreanum</option>
	<option value="mem">Methanoculleus marisnigri</option>
	<option value="mka">Methanopyrus kandleri</option>
	<option value="mtp">Methanosaeta thermophila</option>
	<option value="mac">Methanosarcina acetivorans</option>
	<option value="mba">Methanosarcina barkeri</option>
	<option value="mma">Methanosarcina mazei</option>
	<option value="mst">Methanosphaera stadtmanae</option>
	<option value="mhu">Methanospirillum hungatei</option>
	<option value="min">Methylacidiphilum infernorum</option>
	<option value="mpt">Methylibium petroleiphilum</option>
	<option value="mfa">Methylobacillus flagellatus</option>
	<option value="mch">Methylobacterium chloromethanicum</option>
	<option value="mex">Methylobacterium extorquens</option>
	<option value="mea">Methylobacterium extorquens AM1</option>
	<option value="mdi">Methylobacterium extorquens DM4</option>
	<option value="mno">Methylobacterium nodulans</option>
	<option value="mpo">Methylobacterium populi</option>
	<option value="mrd">Methylobacterium radiotolerans</option>
	<option value="met">Methylobacterium sp. 4-46</option>
	<option value="msl">Methylocella silvestris</option>
	<option value="mca">Methylococcus capsulatus</option>
	<option value="mmb">Methylotenera mobilis</option>
	<option value="mei">Methylovorus sp. SIP3-4</option>
	<option value="mlu">Micrococcus luteus</option>
	<option value="mar">Microcystis aeruginosa</option>
	<option value="mms">Minibacterium massiliensis</option>
	<option value="emte">Molgula tectiformis</option>
	<option value="mpr">Moniliophthora perniciosa</option>
	<option value="mdo">Monodelphis domestica</option>
	<option value="mbr">Monosiga brevicollis</option>
	<option value="mta">Moorella thermoacetica</option>
	<option value="mmu">Mus musculus</option>
	<option value="mab">Mycobacterium abscessus ATCC 19977</option>
	<option value="mav">Mycobacterium avium 104</option>
	<option value="mpa">Mycobacterium avium paratuberculosis</option>
	<option value="mbo">Mycobacterium bovis AF2122/97</option>
	<option value="mbb">Mycobacterium bovis BCG Pasteur 1173P2</option>
	<option value="mbt">Mycobacterium bovis BCG Tokyo 172</option>
	<option value="mgi">Mycobacterium gilvum</option>
	<option value="mlb">Mycobacterium leprae Br4923</option>
	<option value="mle">Mycobacterium leprae TN</option>
	<option value="mmi">Mycobacterium marinum M</option>
	<option value="msm">Mycobacterium smegmatis</option>
	<option value="mjl">Mycobacterium sp. JLS</option>
	<option value="mkm">Mycobacterium sp. KMS</option>
	<option value="mmc">Mycobacterium sp. MCS</option>
	<option value="mtc">Mycobacterium tuberculosis CDC1551</option>
	<option value="mtf">Mycobacterium tuberculosis F11</option>
	<option value="mra">Mycobacterium tuberculosis H37Ra</option>
	<option value="mtu">Mycobacterium tuberculosis H37Rv</option>
	<option value="mtb">Mycobacterium tuberculosis KZN 1435</option>
	<option value="mul">Mycobacterium ulcerans</option>
	<option value="mva">Mycobacterium vanbaalenii</option>
	<option value="mal">Mycoplasma agalactiae 5632</option>
	<option value="maa">Mycoplasma agalactiae PG2</option>
	<option value="mat">Mycoplasma arthritidis</option>
	<option value="mcp">Mycoplasma capricolum</option>
	<option value="mco">Mycoplasma conjunctivae</option>
	<option value="mga">Mycoplasma gallisepticum</option>
	<option value="mge">Mycoplasma genitalium</option>
	<option value="mho">Mycoplasma hominis</option>
	<option value="mhy">Mycoplasma hyopneumoniae 232</option>
	<option value="mhp">Mycoplasma hyopneumoniae 7448</option>
	<option value="mhj">Mycoplasma hyopneumoniae J</option>
	<option value="mmo">Mycoplasma mobile</option>
	<option value="mmy">Mycoplasma mycoides</option>
	<option value="mpe">Mycoplasma penetrans</option>
	<option value="mpn">Mycoplasma pneumoniae</option>
	<option value="mpu">Mycoplasma pulmonis</option>
	<option value="msy">Mycoplasma synoviae</option>
	<option value="mxa">Myxococcus xanthus</option>
	<option value="nml">Nakamurella multipartita</option>
	<option value="neq">Nanoarchaeum equitans</option>
	<option value="nvi">Nasonia vitripennis</option>
	<option value="nth">Natranaerobius thermophilus</option>
	<option value="nmg">Natrialba magadii</option>
	<option value="nph">Natronomonas pharaonis</option>
	<option value="nam">Nautilia profundicola</option>
	<option value="ngo">Neisseria gonorrhoeae FA 1090</option>
	<option value="ngk">Neisseria gonorrhoeae NCCP11945</option>
	<option value="nmn">Neisseria meningitidis 053442</option>
	<option value="nmc">Neisseria meningitidis FAM18</option>
	<option value="nme">Neisseria meningitidis MC58</option>
	<option value="nma">Neisseria meningitidis Z2491</option>
	<option value="nmi">Neisseria meningitidis alpha14</option>
	<option value="nve">Nematostella vectensis</option>
	<option value="nri">Neorickettsia risticii</option>
	<option value="nse">Neorickettsia sennetsu</option>
	<option value="nfi">Neosartorya fischeri</option>
	<option value="ncr">Neurospora crassa</option>
	<option value="enbe">Nicotiana benthamiana</option>
	<option value="enta">Nicotiana tabacum</option>
	<option value="nis">Nitratiruptor sp. SB155-2</option>
	<option value="nha">Nitrobacter hamburgensis</option>
	<option value="nwi">Nitrobacter winogradskyi</option>
	<option value="nhl">Nitrosococcus halophilus</option>
	<option value="noc">Nitrosococcus oceani</option>
	<option value="neu">Nitrosomonas europaea</option>
	<option value="net">Nitrosomonas eutropha</option>
	<option value="nmr">Nitrosopumilus maritimus</option>
	<option value="nmu">Nitrosospira multiformis</option>
	<option value="nfa">Nocardia farcinica</option>
	<option value="nca">Nocardioides sp. JS614</option>
	<option value="npu">Nostoc punctiforme</option>
	<option value="nar">Novosphingobium aromaticivorans</option>
	<option value="oih">Oceanobacillus iheyensis</option>
	<option value="oan">Ochrobactrum anthropi</option>
	<option value="ooe">Oenococcus oeni</option>
	<option value="oca">Oligotropha carboxidovorans</option>
	<option value="ote">Opitutus terrae</option>
	<option value="ots">Orientia tsutsugamushi Boryong</option>
	<option value="ott">Orientia tsutsugamushi Ikeda</option>
	<option value="oaa">Ornithorhynchus anatinus</option>
	<option value="eosi">Oryza sativa indica</option>
	<option value="osa">Oryza sativa japonica</option>
	<option value="dosa">Oryza sativa japonica</option>
	<option value="eosa">Oryza sativa japonica</option>
	<option value="dola">Oryzias latipes</option>
	<option value="olu">Ostreococcus lucimarinus</option>
	<option value="dota">Ostreococcus tauri</option>
	<option value="pjd">Paenibacillus sp. JDR-2</option>
	<option value="ptr">Pan troglodytes</option>
	<option value="epvr">Panicum virgatum</option>
	<option value="pam">Pantoea ananatis</option>
	<option value="pdi">Parabacteroides distasonis</option>
	<option value="pde">Paracoccus denitrificans</option>
	<option value="ptm">Paramecium tetraurelia</option>
	<option value="pla">Parvibaculum lavamentivorans</option>
	<option value="pmu">Pasteurella multocida</option>
	<option value="pct">Pectobacterium carotovorum</option>
	<option value="pwa">Pectobacterium wasabiae</option>
	<option value="dphu">Pediculus humanus</option>
	<option value="ppe">Pediococcus pentosaceus</option>
	<option value="phe">Pedobacter heparinus</option>
	<option value="pca">Pelobacter carbinolicus</option>
	<option value="ppd">Pelobacter propionicus</option>
	<option value="plt">Pelodictyon luteolum</option>
	<option value="pph">Pelodictyon phaeoclathratiforme</option>
	<option value="pth">Pelotomaculum thermopropionicum</option>
	<option value="pcs">Penicillium chrysogenum</option>
	<option value="pmx">Persephonella marina</option>
	<option value="pmo">Petrotoga mobilis</option>
	<option value="pti">Phaeodactylum tricornutum</option>
	<option value="pno">Phaeosphaeria nodorum</option>
	<option value="dpch">Phanerochaete chrysosporium</option>
	<option value="epco">Phaseolus coccineus</option>
	<option value="epvu">Phaseolus vulgaris</option>
	<option value="pzu">Phenylobacterium zucineum</option>
	<option value="ppr">Photobacterium profundum</option>
	<option value="pay">Photorhabdus asymbiotica</option>
	<option value="plu">Photorhabdus luminescens</option>
	<option value="eppp">Physcomitrella patens subsp. patens</option>
	<option value="ppp">Physcomitrella patens subsp. patens</option>
	<option value="ayw">Phytoplasma AYWB</option>
	<option value="poy">Phytoplasma OY</option>
	<option value="epgl">Picea glauca</option>
	<option value="epsi">Picea sitchensis</option>
	<option value="pgu">Pichia guilliermondii</option>
	<option value="ppa">Pichia pastoris</option>
	<option value="pic">Pichia stipitis</option>
	<option value="pto">Picrophilus torridus</option>
	<option value="eppi">Pinus pinaster</option>
	<option value="epta">Pinus taeda</option>
	<option value="psl">Pirellula staleyi</option>
	<option value="pbe">Plasmodium berghei</option>
	<option value="pcb">Plasmodium chabaudi</option>
	<option value="pfa">Plasmodium falciparum 3D7</option>
	<option value="pfd">Plasmodium falciparum Dd2</option>
	<option value="pfh">Plasmodium falciparum HB3</option>
	<option value="pkn">Plasmodium knowlesi</option>
	<option value="pvx">Plasmodium vivax</option>
	<option value="pyo">Plasmodium yoelii</option>
	<option value="pan">Podospora anserina</option>
	<option value="pna">Polaromonas naphthalenivorans</option>
	<option value="pol">Polaromonas sp. JS666</option>
	<option value="pne">Polynucleobacter necessarius</option>
	<option value="pnu">Polynucleobacter sp. QLW-P1DMWA-1</option>
	<option value="eptf">Poncirus trifoliata</option>
	<option value="epni">Populus nigra</option>
	<option value="eptp">Populus tremula</option>
	<option value="eptt">Populus tremula x Populus tremuloides</option>
	<option value="epop">Populus trichocarpa</option>
	<option value="pop">Populus trichocarpa</option>
	<option value="eptd">Populus trichocarpa x Populus deltoides</option>
	<option value="pgn">Porphyromonas gingivalis ATCC 33277</option>
	<option value="pgi">Porphyromonas gingivalis W83</option>
	<option value="ppl">Postia placenta</option>
	<option value="pmb">Prochlorococcus marinus AS9601</option>
	<option value="pmm">Prochlorococcus marinus MED4</option>
	<option value="pmj">Prochlorococcus marinus MIT 9211</option>
	<option value="pmh">Prochlorococcus marinus MIT 9215</option>
	<option value="pmg">Prochlorococcus marinus MIT 9301</option>
	<option value="pmf">Prochlorococcus marinus MIT 9303</option>
	<option value="pmt">Prochlorococcus marinus MIT 9313</option>
	<option value="pmc">Prochlorococcus marinus MIT 9515</option>
	<option value="pmi">Prochlorococcus marinus MIT9312</option>
	<option value="pme">Prochlorococcus marinus NATL1A</option>
	<option value="pmn">Prochlorococcus marinus NATL2A</option>
	<option value="pma">Prochlorococcus marinus SS120</option>
	<option value="pac">Propionibacterium acnes</option>
	<option value="paa">Prosthecochloris aestuarii</option>
	<option value="pmr">Proteus mirabilis</option>
	<option value="epps">Prunus persica</option>
	<option value="pat">Pseudoalteromonas atlantica</option>
	<option value="pha">Pseudoalteromonas haloplanktis</option>
	<option value="pag">Pseudomonas aeruginosa LESB58</option>
	<option value="pap">Pseudomonas aeruginosa PA7</option>
	<option value="pae">Pseudomonas aeruginosa PAO1</option>
	<option value="pau">Pseudomonas aeruginosa UCBPP-PA14</option>
	<option value="pen">Pseudomonas entomophila</option>
	<option value="pfl">Pseudomonas fluorescens Pf-5</option>
	<option value="pfo">Pseudomonas fluorescens Pf0-1</option>
	<option value="pfs">Pseudomonas fluorescens SBW25</option>
	<option value="pmy">Pseudomonas mendocina</option>
	<option value="ppf">Pseudomonas putida F1</option>
	<option value="ppg">Pseudomonas putida GB-1</option>
	<option value="ppu">Pseudomonas putida KT2440</option>
	<option value="ppw">Pseudomonas putida W619</option>
	<option value="psa">Pseudomonas stutzeri</option>
	<option value="psp">Pseudomonas syringae pv. phaseolicola 1448A</option>
	<option value="psb">Pseudomonas syringae pv. syringae B728a</option>
	<option value="pst">Pseudomonas syringae pv. tomato DC3000</option>
	<option value="par">Psychrobacter arcticum</option>
	<option value="pcr">Psychrobacter cryohalolentis</option>
	<option value="prw">Psychrobacter sp. PRwf-1</option>
	<option value="pin">Psychromonas ingrahamii</option>
	<option value="pai">Pyrobaculum aerophilum</option>
	<option value="pas">Pyrobaculum arsenaticum</option>
	<option value="pcl">Pyrobaculum calidifontis</option>
	<option value="pis">Pyrobaculum islandicum</option>
	<option value="pab">Pyrococcus abyssi</option>
	<option value="pfu">Pyrococcus furiosus</option>
	<option value="pho">Pyrococcus horikoshii</option>
	<option value="reh">Ralstonia eutropha H16</option>
	<option value="reu">Ralstonia eutropha JMP134</option>
	<option value="rme">Ralstonia metallidurans</option>
	<option value="rpf">Ralstonia pickettii 12D</option>
	<option value="rpi">Ralstonia pickettii 12J</option>
	<option value="rso">Ralstonia solanacearum</option>
	<option value="errr">Raphanus raphanistrum subsp. raphanistrum</option>
	<option value="erst">Raphanus sativus</option>
	<option value="rno">Rattus norvegicus</option>
	<option value="rsa">Renibacterium salmoninarum</option>
	<option value="ret">Rhizobium etli CFN 42</option>
	<option value="rec">Rhizobium etli CIAT 652</option>
	<option value="rle">Rhizobium leguminosarum</option>
	<option value="rlg">Rhizobium leguminosarum bv. trifolii WSM1325</option>
	<option value="rlt">Rhizobium leguminosarum bv. trifolii WSM2304</option>
	<option value="rhi">Rhizobium sp. NGR234</option>
	<option value="rsp">Rhodobacter sphaeroides 2.4.1</option>
	<option value="rsq">Rhodobacter sphaeroides ATCC 17025</option>
	<option value="rsh">Rhodobacter sphaeroides ATCC 17029</option>
	<option value="rsk">Rhodobacter sphaeroides KD131</option>
	<option value="rer">Rhodococcus erythropolis</option>
	<option value="rop">Rhodococcus opacus</option>
	<option value="rha">Rhodococcus sp. RHA1</option>
	<option value="rfr">Rhodoferax ferrireducens</option>
	<option value="rba">Rhodopirellula baltica</option>
	<option value="rpe">Rhodopseudomonas palustris BisA53</option>
	<option value="rpc">Rhodopseudomonas palustris BisB18</option>
	<option value="rpd">Rhodopseudomonas palustris BisB5</option>
	<option value="rpa">Rhodopseudomonas palustris CGA009</option>
	<option value="rpb">Rhodopseudomonas palustris HaA2</option>
	<option value="rpt">Rhodopseudomonas palustris TIE-1</option>
	<option value="rce">Rhodospirillum centenum</option>
	<option value="rru">Rhodospirillum rubrum</option>
	<option value="rmr">Rhodothermus marinus</option>
	<option value="ercu">Ricinus communis</option>
	<option value="rcu">Ricinus communis</option>
	<option value="raf">Rickettsia africae</option>
	<option value="rak">Rickettsia akari</option>
	<option value="rbo">Rickettsia bellii OSU 85-389</option>
	<option value="rbe">Rickettsia bellii RML369-C</option>
	<option value="rcm">Rickettsia canadensis</option>
	<option value="rco">Rickettsia conorii</option>
	<option value="rfe">Rickettsia felis</option>
	<option value="rms">Rickettsia massiliae</option>
	<option value="rpk">Rickettsia peacockii</option>
	<option value="rpr">Rickettsia prowazekii</option>
	<option value="rrj">Rickettsia rickettsii Iowa</option>
	<option value="rri">Rickettsia rickettsii Sheila Smith</option>
	<option value="rty">Rickettsia typhi</option>
	<option value="rbi">Robiginitalea biformata</option>
	<option value="rca">Roseiflexus castenholzii DSM13941</option>
	<option value="rrs">Roseiflexus sp. RS-1</option>
	<option value="rde">Roseobacter denitrificans</option>
	<option value="rmu">Rothia mucilaginosa</option>
	<option value="rxy">Rubrobacter xylanophilus</option>
	<option value="svi">Saccharomonospora viridis</option>
	<option value="dsba">Saccharomyces bayanus</option>
	<option value="sce">Saccharomyces cerevisiae</option>
	<option value="dsmi">Saccharomyces mikatae</option>
	<option value="dsrd">Saccharomyces paradoxus</option>
	<option value="sde">Saccharophagus degradans</option>
	<option value="sen">Saccharopolyspora erythraea</option>
	<option value="esof">Saccharum officinarum</option>
	<option value="sru">Salinibacter ruber</option>
	<option value="saq">Salinispora arenicola</option>
	<option value="stp">Salinispora tropica</option>
	<option value="ses">Salmonella enterica subsp. arizonae</option>
	<option value="sea">Salmonella enterica subsp. enterica serovar Agona</option>
	<option value="sec">Salmonella enterica subsp. enterica serovar Choleraesuis</option>
	<option value="sed">Salmonella enterica subsp. enterica serovar Dublin</option>
	<option value="set">Salmonella enterica subsp. enterica serovar Enteritidis</option>
	<option value="seg">Salmonella enterica subsp. enterica serovar Gallinarum</option>
	<option value="seh">Salmonella enterica subsp. enterica serovar Heidelberg</option>
	<option value="see">Salmonella enterica subsp. enterica serovar Newport</option>
	<option value="sek">Salmonella enterica subsp. enterica serovar Paratyphi A AKU12601</option>
	<option value="spt">Salmonella enterica subsp. enterica serovar Paratyphi A ATCC9150</option>
	<option value="spq">Salmonella enterica subsp. enterica serovar Paratyphi B</option>
	<option value="sei">Salmonella enterica subsp. enterica serovar Paratyphi C</option>
	<option value="sew">Salmonella enterica subsp. enterica serovar Schwarzengrund</option>
	<option value="sty">Salmonella enterica subsp. enterica serovar Typhi CT18</option>
	<option value="stt">Salmonella enterica subsp. enterica serovar Typhi Ty2</option>
	<option value="stm">Salmonella enterica subsp. enterica serovar Typhimurium LT2</option>
	<option value="esja">Schistosoma japonicum</option>
	<option value="smm">Schistosoma mansoni</option>
	<option value="spo">Schizosaccharomyces pombe</option>
	<option value="esmn">Schmidtea mediterranea</option>
	<option value="ssl">Sclerotinia sclerotiorum</option>
	<option value="str">Sebaldella termitidis</option>
	<option value="esmo">Selaginella moellendorffii</option>
	<option value="spe">Serratia proteamaculans</option>
	<option value="saz">Shewanella amazonensis</option>
	<option value="sbl">Shewanella baltica OS155</option>
	<option value="sbm">Shewanella baltica OS185</option>
	<option value="sbn">Shewanella baltica OS195</option>
	<option value="sbp">Shewanella baltica OS223</option>
	<option value="sdn">Shewanella denitrificans</option>
	<option value="sfr">Shewanella frigidimarina</option>
	<option value="shl">Shewanella halifaxensis</option>
	<option value="slo">Shewanella loihica</option>
	<option value="son">Shewanella oneidensis</option>
	<option value="spl">Shewanella pealeana</option>
	<option value="swp">Shewanella piezotolerans WP3</option>
	<option value="spc">Shewanella putrefaciens</option>
	<option value="sse">Shewanella sediminis</option>
	<option value="shn">Shewanella sp. ANA-3</option>
	<option value="she">Shewanella sp. MR-4</option>
	<option value="shm">Shewanella sp. MR-7</option>
	<option value="shw">Shewanella sp. W3-18-1</option>
	<option value="swd">Shewanella woodyi ATCC 51908</option>
	<option value="sbc">Shigella boydii CDC 3083-94</option>
	<option value="sbo">Shigella boydii Sb227</option>
	<option value="sdy">Shigella dysenteriae</option>
	<option value="sfx">Shigella flexneri 2457T</option>
	<option value="sfl">Shigella flexneri 301</option>
	<option value="sfv">Shigella flexneri 8401</option>
	<option value="ssn">Shigella sonnei</option>
	<option value="slt">Sideroxydans lithotrophicus</option>
	<option value="sil">Silicibacter pomeroyi</option>
	<option value="sit">Silicibacter sp. TM1040</option>
	<option value="smd">Sinorhizobium medicae</option>
	<option value="sme">Sinorhizobium meliloti</option>
	<option value="shi">Slackia heliotrinireducens</option>
	<option value="sgl">Sodalis glossinidius</option>
	<option value="esly">Solanum lycopersicum</option>
	<option value="estu">Solanum tuberosum</option>
	<option value="sus">Solibacter usitatus</option>
	<option value="scl">Sorangium cellulosum</option>
	<option value="esbi">Sorghum bicolor</option>
	<option value="sbi">Sorghum bicolor</option>
	<option value="sti">Sphaerobacter thermophilus</option>
	<option value="swi">Sphingomonas wittichii</option>
	<option value="sal">Sphingopyxis alaskensis</option>
	<option value="sli">Spirosoma linguale</option>
	<option value="sna">Stackebrandtia nassauensis</option>
	<option value="sac">Staphylococcus aureus COL</option>
	<option value="sad">Staphylococcus aureus ED98</option>
	<option value="sah">Staphylococcus aureus JH1</option>
	<option value="saj">Staphylococcus aureus JH9</option>
	<option value="sar">Staphylococcus aureus MRSA252</option>
	<option value="sas">Staphylococcus aureus MSSA476</option>
	<option value="sam">Staphylococcus aureus MW2</option>
	<option value="saw">Staphylococcus aureus Mu3</option>
	<option value="sav">Staphylococcus aureus Mu50</option>
	<option value="sau">Staphylococcus aureus N315</option>
	<option value="sao">Staphylococcus aureus NCTC8325</option>
	<option value="sae">Staphylococcus aureus Newman</option>
	<option value="sab">Staphylococcus aureus RF122</option>
	<option value="saa">Staphylococcus aureus USA300_FPR3757</option>
	<option value="sax">Staphylococcus aureus USA300_TCH1516</option>
	<option value="sca">Staphylococcus carnosus</option>
	<option value="sep">Staphylococcus epidermidis ATCC 12228</option>
	<option value="ser">Staphylococcus epidermidis RP62A</option>
	<option value="sha">Staphylococcus haemolyticus</option>
	<option value="slg">Staphylococcus lugdunensis</option>
	<option value="ssp">Staphylococcus saprophyticus</option>
	<option value="smr">Staphylothermus marinus</option>
	<option value="sml">Stenotrophomonas maltophilia K279a</option>
	<option value="smt">Stenotrophomonas maltophilia R551-3</option>
	<option value="smf">Streptobacillus moniliformis</option>
	<option value="sag">Streptococcus agalactiae 2603</option>
	<option value="sak">Streptococcus agalactiae A909</option>
	<option value="san">Streptococcus agalactiae NEM316</option>
	<option value="sds">Streptococcus dysgalactiae</option>
	<option value="seu">Streptococcus equi subsp. equi 4047</option>
	<option value="seq">Streptococcus equi subsp. zooepidemicus H70</option>
	<option value="sez">Streptococcus equi subsp. zooepidemicus MGCS10565</option>
	<option value="sga">Streptococcus gallolyticus</option>
	<option value="sgo">Streptococcus gordonii</option>
	<option value="smb">Streptococcus mitis B6</option>
	<option value="smc">Streptococcus mutans NN2025</option>
	<option value="smu">Streptococcus mutans UA159</option>
	<option value="snm">Streptococcus pneumoniae 70585</option>
	<option value="sne">Streptococcus pneumoniae ATCC 700669</option>
	<option value="spw">Streptococcus pneumoniae CGSP14</option>
	<option value="spd">Streptococcus pneumoniae D39</option>
	<option value="spx">Streptococcus pneumoniae G54</option>
	<option value="spv">Streptococcus pneumoniae Hungary19A 6</option>
	<option value="sjj">Streptococcus pneumoniae JJA</option>
	<option value="spp">Streptococcus pneumoniae P1031</option>
	<option value="spr">Streptococcus pneumoniae R6</option>
	<option value="spn">Streptococcus pneumoniae TIGR4</option>
	<option value="snt">Streptococcus pneumoniae Taiwan19F-14</option>
	<option value="sph">Streptococcus pyogenes MGAS10270</option>
	<option value="spa">Streptococcus pyogenes MGAS10394</option>
	<option value="spi">Streptococcus pyogenes MGAS10750</option>
	<option value="spj">Streptococcus pyogenes MGAS2096</option>
	<option value="spg">Streptococcus pyogenes MGAS315</option>
	<option value="spz">Streptococcus pyogenes MGAS5005</option>
	<option value="spb">Streptococcus pyogenes MGAS6180</option>
	<option value="spm">Streptococcus pyogenes MGAS8232</option>
	<option value="spk">Streptococcus pyogenes MGAS9429</option>
	<option value="spf">Streptococcus pyogenes Manfredo</option>
	<option value="soz">Streptococcus pyogenes NZ131</option>
	<option value="spy">Streptococcus pyogenes SF370</option>
	<option value="sps">Streptococcus pyogenes SSI-1</option>
	<option value="ssa">Streptococcus sanguinis</option>
	<option value="ssu">Streptococcus suis 05ZYH33</option>
	<option value="ssv">Streptococcus suis 98HAH33</option>
	<option value="ssb">Streptococcus suis BM407</option>
	<option value="ssi">Streptococcus suis P1/7</option>
	<option value="sss">Streptococcus suis SC84</option>
	<option value="stc">Streptococcus thermophilus CNRZ1066</option>
	<option value="ste">Streptococcus thermophilus LMD-9</option>
	<option value="stl">Streptococcus thermophilus LMG18311</option>
	<option value="sub">Streptococcus uberis</option>
	<option value="sma">Streptomyces avermitilis</option>
	<option value="sco">Streptomyces coelicolor</option>
	<option value="sgr">Streptomyces griseus</option>
	<option value="scb">Streptomyces scabiei</option>
	<option value="sro">Streptosporangium roseum</option>
	<option value="espu">Strongylocentrotus purpuratus</option>
	<option value="spu">Strongylocentrotus purpuratus</option>
	<option value="sai">Sulfolobus acidocaldarius</option>
	<option value="sii">Sulfolobus islandicus L.D.8.5</option>
	<option value="sis">Sulfolobus islandicus L.S.2.15</option>
	<option value="sia">Sulfolobus islandicus M.14.25</option>
	<option value="sim">Sulfolobus islandicus M.16.27</option>
	<option value="sid">Sulfolobus islandicus M.16.4</option>
	<option value="siy">Sulfolobus islandicus Y.G.57.14</option>
	<option value="sin">Sulfolobus islandicus Y.N.15.51</option>
	<option value="sso">Sulfolobus solfataricus</option>
	<option value="sto">Sulfolobus tokodaii</option>
	<option value="saf">Sulfurihydrogenibium azorense</option>
	<option value="sul">Sulfurihydrogenibium sp. YO3AOP1</option>
	<option value="tdn">Sulfurimonas denitrificans</option>
	<option value="sdl">Sulfurospirillum deleyianum</option>
	<option value="sun">Sulfurovum sp. NBC37-1</option>
	<option value="ssc">Sus scrofa</option>
	<option value="sth">Symbiobacterium thermophilum</option>
	<option value="syc">Synechococcus elongatus PCC6301</option>
	<option value="syf">Synechococcus elongatus PCC7942</option>
	<option value="syg">Synechococcus sp. CC9311</option>
	<option value="syd">Synechococcus sp. CC9605</option>
	<option value="sye">Synechococcus sp. CC9902</option>
	<option value="syp">Synechococcus sp. PCC7002</option>
	<option value="syr">Synechococcus sp. RCC307</option>
	<option value="syx">Synechococcus sp. WH7803</option>
	<option value="syw">Synechococcus sp. WH8102</option>
	<option value="syn">Synechocystis sp. PCC6803</option>
	<option value="sfu">Syntrophobacter fumaroxidans</option>
	<option value="swo">Syntrophomonas wolfei</option>
	<option value="sat">Syntrophus aciditrophicus</option>
	<option value="tgu">Taeniopygia guttata</option>
	<option value="ttu">Teredinibacter turnerae</option>
	<option value="tet">Tetrahymena thermophila</option>
	<option value="dtni">Tetraodon nigroviridis</option>
	<option value="tps">Thalassiosira pseudonana</option>
	<option value="tmz">Thauera sp. MZ1T</option>
	<option value="tan">Theileria annulata</option>
	<option value="tpv">Theileria parva</option>
	<option value="etcc">Theobroma cacao</option>
	<option value="tai">Thermanaerovibrio acidaminovorans</option>
	<option value="tit">Thermoanaerobacter italicus</option>
	<option value="tpd">Thermoanaerobacter pseudethanolicus</option>
	<option value="tex">Thermoanaerobacter sp. X514</option>
	<option value="tte">Thermoanaerobacter tengcongensis</option>
	<option value="ttr">Thermobaculum terrenum</option>
	<option value="tfu">Thermobifida fusca</option>
	<option value="tga">Thermococcus gammatolerans</option>
	<option value="tko">Thermococcus kodakaraensis</option>
	<option value="ton">Thermococcus onnurineus</option>
	<option value="tsi">Thermococcus sibiricus</option>
	<option value="tal">Thermocrinis albus</option>
	<option value="tye">Thermodesulfovibrio yellowstonii</option>
	<option value="tpe">Thermofilum pendens</option>
	<option value="tro">Thermomicrobium roseum</option>
	<option value="tcu">Thermomonospora curvata</option>
	<option value="tac">Thermoplasma acidophilum</option>
	<option value="tvo">Thermoplasma volcanium</option>
	<option value="tne">Thermoproteus neutrophilus</option>
	<option value="taf">Thermosipho africanus</option>
	<option value="tme">Thermosipho melanesiensis</option>
	<option value="tel">Thermosynechococcus elongatus</option>
	<option value="tle">Thermotoga lettingae</option>
	<option value="tma">Thermotoga maritima</option>
	<option value="tnp">Thermotoga naphthophila</option>
	<option value="tna">Thermotoga neapolitana</option>
	<option value="tpt">Thermotoga petrophila</option>
	<option value="trq">Thermotoga sp. RQ2</option>
	<option value="tth">Thermus thermophilus HB27</option>
	<option value="ttj">Thermus thermophilus HB8</option>
	<option value="tgr">Thioalkalivibrio sp. HL-EbGR7</option>
	<option value="tkm">Thioalkalivibrio sp. K90mix</option>
	<option value="tbd">Thiobacillus denitrificans</option>
	<option value="tcx">Thiomicrospira crunogena</option>
	<option value="tau">Tolumonas auensis</option>
	<option value="tgo">Toxoplasma gondii</option>
	<option value="tde">Treponema denticola</option>
	<option value="tpa">Treponema pallidum subsp. pallidum Nichols</option>
	<option value="tpp">Treponema pallidum subsp. pallidum SS14</option>
	<option value="tca">Tribolium castaneum</option>
	<option value="ter">Trichodesmium erythraeum</option>
	<option value="tva">Trichomonas vaginalis</option>
	<option value="tad">Trichoplax adhaerens</option>
	<option value="etpu">Triphysaria pusilla</option>
	<option value="etae">Triticum aestivum</option>
	<option value="tws">Tropheryma whipplei TW08/27</option>
	<option value="twh">Tropheryma whipplei Twist</option>
	<option value="tbr">Trypanosoma brucei</option>
	<option value="tcr">Trypanosoma cruzi</option>
	<option value="ure">Uncinocarpus reesii</option>
	<option value="rsd">Uncultured Termite group 1 bacterium phylotype Rs-D17</option>
	<option value="rci">Uncultured methanogenic archaeon RC-I</option>
	<option value="upa">Ureaplasma parvum serovar 3 ATCC 27815</option>
	<option value="uur">Ureaplasma parvum serovar 3 ATCC 700970</option>
	<option value="uue">Ureaplasma urealyticum serovar 10 ATCC 33699</option>
	<option value="uma">Ustilago maydis</option>
	<option value="vpo">Vanderwaltozyma polyspora</option>
	<option value="vap">Variovorax paradoxus</option>
	<option value="vpr">Veillonella parvula</option>
	<option value="vei">Verminephrobacter eiseniae</option>
	<option value="vcm">Vibrio cholerae M66-2</option>
	<option value="vcj">Vibrio cholerae MJ-1236</option>
	<option value="vch">Vibrio cholerae O1</option>
	<option value="vco">Vibrio cholerae O395</option>
	<option value="vfi">Vibrio fischeri</option>
	<option value="vfm">Vibrio fischeri MJ11</option>
	<option value="vha">Vibrio harveyi</option>
	<option value="vpa">Vibrio parahaemolyticus</option>
	<option value="vex">Vibrio sp. Ex25</option>
	<option value="vsp">Vibrio splendidus</option>
	<option value="vvu">Vibrio vulnificus CMCP6</option>
	<option value="vvy">Vibrio vulnificus YJ016</option>
	<option value="evun">Vigna unguiculata</option>
	<option value="vvi">Vitis vinifera</option>
	<option value="evvi">Vitis vinifera</option>
	<option value="evcn">Volvox carteri f. nagariensis</option>
	<option value="wbr">Wigglesworthia glossinidia</option>
	<option value="wpi">Wolbachia pipientis</option>
	<option value="wri">Wolbachia sp. wRi</option>
	<option value="wbm">Wolbachia wBm</option>
	<option value="wol">Wolbachia wMel</option>
	<option value="wsu">Wolinella succinogenes</option>
	<option value="xau">Xanthobacter autotrophicus</option>
	<option value="xal">Xanthomonas albilineans</option>
	<option value="xac">Xanthomonas axonopodis</option>
	<option value="xcb">Xanthomonas campestris pv. campestris 8004</option>
	<option value="xcc">Xanthomonas campestris pv. campestris ATCC 33913</option>
	<option value="xca">Xanthomonas campestris pv. campestris B100</option>
	<option value="xcv">Xanthomonas campestris pv. vesicatoria</option>
	<option value="xoo">Xanthomonas oryzae KACC10331</option>
	<option value="xom">Xanthomonas oryzae MAFF311018</option>
	<option value="xop">Xanthomonas oryzae PXO99A</option>
	<option value="xla">Xenopus laevis</option>
	<option value="xtr">Xenopus tropicalis</option>
	<option value="xbo">Xenorhabdus bovienii</option>
	<option value="xce">Xylanimonas cellulosilytica</option>
	<option value="xfa">Xylella fastidiosa 9a5c</option>
	<option value="xfm">Xylella fastidiosa M12</option>
	<option value="xfn">Xylella fastidiosa M23</option>
	<option value="xft">Xylella fastidiosa Temecula1</option>
	<option value="yli">Yarrowia lipolytica</option>
	<option value="yen">Yersinia enterocolitica</option>
	<option value="ypg">Yersinia pestis Angola</option>
	<option value="ypa">Yersinia pestis Antiqua</option>
	<option value="ype">Yersinia pestis CO92</option>
	<option value="ypk">Yersinia pestis KIM</option>
	<option value="ypm">Yersinia pestis Mediaevails</option>
	<option value="ypn">Yersinia pestis Nepal516</option>
	<option value="ypp">Yersinia pestis Pestoides</option>
	<option value="ypi">Yersinia pseudotuberculosis IP31758</option>
	<option value="yps">Yersinia pseudotuberculosis IP32953</option>
	<option value="ypb">Yersinia pseudotuberculosis PB1/+</option>
	<option value="ypy">Yersinia pseudotuberculosis YPIII</option>
	<option value="zma">Zea mays</option>
	<option value="ezma">Zea mays</option>
	<option value="ezof">Zingiber officinale</option>
	<option value="zro">Zygosaccharomyces rouxii</option>
	<option value="zmo">Zymomonas mobilis</option>
	<option value="zmn">Zymomonas mobilis subsp. mobilis NCIMB 11163</option>

</select>
</td>
</tr>
<tr>
<td>
Project to bill this to: 
</td>
<td>
<select name="project" id="project">
	<option value="proj1">Project 1</option>
	<option value="proj2">Project 2</option>
	<option value="proj3">Project 3</option>
</select>
</td>
</tr>
<tr>
<td>
Number of clusters (k.clust): 
</td>
<td>
<input name="k" value="200" id="k">
</td>
</tr>
<tr>
<td>
Number of iterations (n.iter):
</td>
<td>
<input name="n_iter" value="3000" id="n_iter">
</td>
</tr>
<tr>
<td>
Ratios file:
</td>
<td>
<%= file_field_tag 'uploaded_file' %>
</td>
</tr>

<tr>
<td>Preinitialized RData file (<a id="show_more_info">more info</a>):
<span id="more_info">
<br/>
You can supply <i>either</i> a ratios file <i>or</i> a preinitialized .RData file in which you have run
cmonkey.init() and saved the resulting environment as "e" by using "save.image()". <br/>

This allows you to do custom initialization or wrapping of functions.

If you supply a preinitialized .RData file, the settings it contains will override settings in this form
(organism, k.clust, n.iter). If your preinitialized file does not contain these settings, the ones in this form
will be used.<br/>

If your preinitialized file contains an e$cm.func.each.iter() function, that function will be overwritten by 
CSpotRun.<br/>

For best results, use the most recent version of cMonkey to create your preinitialized file.
<br/><a id="hide_more_info">Hide</a><br/>
</span>
</td>
<td>
<%= file_field_tag 'preinitialized_rdata_file' %>

<tr>
<td>
Is this just a test run? 
</td>
<td>
<input type="checkbox" name="just_for_fun" value="true"  id="just_for_fun"/> 
</td>
</tr>
</table>
<br/>
<input type="submit" id="submit_new_job_button"  value="Submit Job"/>

</form>

<br/>
<span id="please_wait">
<b>Please wait, your file is uploading. This will take a moment. </b><br/>
</span>